<footer class="p-8 bg-zinc-900 text-center text-xs border-t-2 border-red mt-auto">
    <div class="max-w-4xl mx-auto pb-10 text-center">
        <div class="flex items-center justify-center gap-4 mb-4">
            <span class="h-[1px] w-12 bg-zinc-700"></span>
            <i class="ri-government-line text-zinc-400 text-lg"></i>
            <span class="h-[1px] w-12 bg-zinc-700"></span>
        </div>
        <p class="text-zinc-400 text-[9px] uppercase tracking-[0.4em] font-sans font-bold">
            Curated & Architected by the Residents of <span class="text-red-400">Hindu Hostel</span>
        </p>
    </div>
    <p>HINDU HOSTEL | ESTD. 1901</p>
    <p class="mt-2 text-red-500 font-bold uppercase tracking-widest">University of Allahabad <br> Prayagraj, Uttar
        Pradesh</p>
</footer>
<script src="/js/main.js"></script>
</body>

</html>