<%- include('partials/head') %>
    <%- include('partials/nav') %>
        <%- include('partials/flash') %>


            <main class="min-h-screen flex items-center justify-center p-6 bg-zinc-950 font-serif">

                <div class="bg-zinc-900 w-full max-w-md rounded-2xl shadow-2xl overflow-hidden border border-zinc-800">

                    <div class="h-2 bg-red-700 w-full"></div>
                    <div class="p-4 pb-0 text-center">
                        <div class="text-center pt-4 mb-4">
                            <span
                                class="text-[9px] font-bold uppercase tracking-widest text-emerald-400  transition-colors">
                                Don't have an account? Contact Warden(or Admin)
                            </span>
                        </div>
                        <div
                            class="w-20 h-20 bg-zinc-950 border border-zinc-800 rounded-full flex items-center justify-center mx-auto mb-6 shadow-inner">
                            <i class="ri-shield-keyhole-line text-red-600 text-4xl"></i>
                        </div>
                        <h2 class="text-3xl text-white">Portal Access</h2>

                    </div>

                    <form action="/login" method="POST" class="p-10 space-y-6 font-sans">
                        <div>
                            <label
                                class="block text-[10px] font-bold uppercase text-zinc-400 mb-2 tracking-widest">Registered
                                Email</label>
                            <div class="relative">
                                <i class="ri-mail-star-line absolute left-4 top-1/2 -translate-y-1/2 text-zinc-300"></i>
                                <input type="email" name="email" required
                                    class="w-full bg-zinc-950 border border-zinc-800 rounded-xl py-4 pl-12 pr-4 text-white placeholder:text-zinc-500 focus:outline-none focus:border-red-700 transition-all duration-300"
                                    placeholder="yourname@example.com">
                            </div>
                        </div>

                        <div>
                            <label
                                class="block text-[10px] font-bold uppercase text-zinc-400 mb-2 tracking-widest">Password</label>
                            <div class="relative">
                                <i class="ri-lock-2-line absolute left-4 top-1/2 -translate-y-1/2 text-zinc-300"></i>
                                <input type="password" name="password" required
                                    class="w-full bg-zinc-950 border border-zinc-800 rounded-xl py-4 pl-12 pr-4 text-white placeholder:text-zinc-500 focus:outline-none focus:border-red-700 transition-all duration-300"
                                    placeholder="••••••••">
                            </div>
                        </div>

                        <button type="submit"
                            class="w-full bg-red-700 text-white font-bold py-4 rounded-xl hover:bg-white hover:text-black transition-all duration-500 flex items-center justify-center gap-2 shadow-xl shadow-red-950/20 tracking-widest text-xs uppercase mt-4">
                            <i class="ri-login-box-line text-[1.2rem]"></i> Login
                        </button>

                        <div class="flex justify-center items-center mb-6">
                            <a href="/forgot-password"
                                class="text-[10px] text-zinc-400 hover:text-red-600 uppercase tracking-widest font-bold transition-colors cursor-pointer">
                                Forgot Password?
                            </a>
                        </div>

                    </form>
                    <div class="bg-zinc-950/50 p-6 text-center border-t border-zinc-800">
                        <p class="text-zinc-500 text-[10px] uppercase tracking-[0.2em] mt-3 font-sans font-bold">
                            <i class="ri-lock-fill text-[0.8rem]"></i> Hindu Hostel Digital Authentication
                        </p>
                    </div>
                </div>
            </main>

            <%- include('partials/footer') %>